/*Inital shapes*/
[shape="Square"] {
  width: 100px;
  height: 100px;
  background: white;
}

[shape="Circle"] {
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 50%;
}

[shape="Rectangle"] {
  width: 200px;
  height: 100px;
}

/* Centering it in middle of screen*/
#centerObject {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
