/* grid Layout */
main {
  display: grid;
  text-align: center;
  height: 10vh;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "shape"
    "color"
    "object";
  gap: 1em;
}
